/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Dosis');
*{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
}
.canSel{
    cursor: pointer;
}
.center{
    text-align: center;
}